[submodule "AC-SUM-GAN"]
	path = AC-SUM-GAN
	url = https://github.com/e-apostolidis/AC-SUM-GAN
[submodule "Video-Summarization-with-LSTM"]
	path = Video-Summarization-with-LSTM
	url = https://github.com/kezhang-cs/Video-Summarization-with-LSTM
